<!-- <p-dialog [visible]="true" [closable]="false">
  <p-header>
    {{header}}
    <span style="float:right; cursor:pointer" (click)="close()">x</span>
  </p-header>
  <ng-template dialog-content></ng-template>
</p-dialog> -->
<div class="app-modal">
  <div class="app-modal-body">
    <div class="modal-header">
      <h4 id="modal-title" class="modal-title">{{header}}</h4>
    </div>
    <div class="modal-body">
      <ng-template modal-content></ng-template>
    </div>
    <div class="modal-footer">
      <button (click)="close()">Close</button>
    </div>
  </div>
</div>
<div class="app-modal-background"></div>