<div>
  <h1>{{title}}</h1>
  <button (click)="openModal('modal-1')">Open Modal 1</button> &nbsp;
  <button (click)="openModal('modal-2')">Open Modal 2</button>
</div>

<modal-basic id="modal-1">
  <div class="modal-header">
    <h4 id="modal-title" class="modal-title">Modal Title</h4>
  </div>
  <div class="modal-body">
    Body content
  </div>
  <div class="modal-footer">
    <button (click)="closeModal('modal-1');">Close</button>
  </div>
</modal-basic>

<modal-basic id="modal-2">
  <div class="modal-header">
    <h4 id="modal-title" class="modal-title">Modal Title</h4>
  </div>
  <div class="modal-body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore asperiores nesciunt laborum maxime ducimus!
    Ratione, doloribus assumenda. Saepe ipsum sunt esse ad eum, debitis porro modi dignissimos id repellat fugiat!
  </div>
  <div class="modal-footer">
    <button (click)="closeModal('modal-2');">Close</button>
  </div>
</modal-basic>

<hr>
<button (click)="openDialogZ()">Open Dialog</button>